<html>
	<head>
		<title>Down for Maintenance</title>
		<style>
			body {
				font-family: "Noto Sans","Droid Sans",Roboto,sans-serif;
				text-align: center;
			}
			div.head {
				background-color:  rgba(200, 200, 200, 0.5);
				padding: 1px;
			}
			div.body {
				padding: 1px;
			}
			h1 {
				font-size: 64px;
				font-weight: 300;
			}
			p {
				font-size: 22px;
				font-weight: 300;
			}
		</style>
	</head>
	<body>
		<div class="head">
			<h1>Down for Maintenance</h1>
		</div>
		<div class="body">
			<p>We apologize for the inconvenience, but we are currently down for maintenance.</p>
			<p>We'll be back up shortly, so check back soon.</p>
		</div>
	</body>
</html>

